.navbar {
  position: sticky;
  background: transparent;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  font-weight: 500;
}

.navbar.active {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navbar-logo {
  width: 12%;
  color: #330000;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.logo-picture {
  width: 100%;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 70px;
}

.nav-links {
  font-weight: 500;
  color: #330000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-size: 2rem;
}

.nav-links:hover {
  color: #fff;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #330000;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.dropdown {
  color: #330000;
  display: flex;
  /* align-items: center; */
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-size: 2rem;
  align-items: center;
}

.dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  height: 70px;
}

.dropbtn:hover {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}


.dropdown-content {
  top: 70px;
  height: 150px;
  padding: 15px;
  display: none;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.3);
  text-align: left;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y:auto;
}


.dropdown-content Link {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  height: 30px;
}



/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(221, 221, 221, 0.6);}

.dropdown:hover .dropdown-content {
  display: block;

  /* background-color: grey; */
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    margin-top: -11px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /* 屏幕缩小以后点击出现的navbar框 */
  .nav-menu.active {
    margin-top: -21px;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #330000;
    color: #fff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #330000;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #330000;
    padding: 14px 20px;
    border: 1px solid #330000;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #330000;
    color: #fff;
    transition: 250ms;
  }
}
