.contact-detail-container{
    height: 350vh;
}

.contact-detail-container > img{
    width: 100%;
    height: 30%;
    margin-top: -90px;
}

.contact-detial-block-container{
    display: flex;
}

.contact-detial-try{
    border: 1px solid black;
    width: 25%;
    height: 30%;
    background: white;
}

.contact-detail-container > h3{
    text-align: center;
}

.contact-detial-block{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    background: white;
    border: 1px solid;
    height: 400px;
}

.contact-number{
    margin-left: 17.5%;
    margin-right: 2.5%;
}

.email{
    margin-right: 17.5%;
    margin-left: 2.5%;
}

.contact-detial-block>span{
    background:url('../images/contactNumber.jpg');
    background-size: 100%;
    background-position-y: center;
    height: 60px;
    width: 85%;
    color: white;
    margin-left: 40px;
    font-size: 25px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}


.contact-detail-item{
    margin-top: 50px;
}

.contact-detial-address{
    border: 1px solid;
    margin:10%
}