/* .contact-detail-container{
    height: 350vh;
} */

/*the Hero section == begin*/
    .contact-detail-title-container{
        margin-top: -1.3vw;
        display: flex;
        background: url(https://storage-asset.msi.com/template/images/contact_us/kv-contact-us.jpg) no-repeat;
        width: 100%;
        height: 20vw;
        background-position: center;
        background-size: cover;
        align-items: center;
        z-index: -1;
        justify-content: center;
    
    }

    #contact-title{
        /* margin-top: 50%; */
  
        position: relative;
        font-size: 3vw;
        z-index: 1000;
    }

    /*background image*/
    /* .bgi{
        width: 100%;
        height: 26vw;
        margin-top: -5vw;
        z-index: -2;
    } */
/*the Hero section == end*/


/*content__mail and contact number*/
.contact-detial-wrapper{
    top: -60%;
    width: 100%;
    padding: 0 1rem;
    box-sizing: content-box;
}


.contact-detial-block-container{
    top: -50px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.contact-detial-block{
    margin: 0 1.5%;
    padding: 2% .5% ;
    width: 25%;
    /* display: flex;
    flex-direction: column; */
    background: white;
    border: 1px solid #d1e0e0;
}

.email{
    margin-left: 23%;
}

/* .contact-detail-icon{
    position: relative;
    text-align: center;
} */

.spot{
    height: 6vw;
}


.contact-label{
    margin-top: 10%;
    font-size: 1vw;
    font-weight: 700;

}


.contact-detail-item{

    margin-top: 2vw;
}

.contact-detail-item > p{
    font-size: 0.8vw;
}



.fa-envelope{
    color: #fff;
    z-index: 2;
    margin-left: -25%;
}

.fa-phone-alt{
    color: #fff;
    z-index: 2;
    margin-left: -25%;
}

.fa-home{
    color: #fff;
    z-index: 2;
    margin-left: -18%;
    margin-top: -5%;
}

#home-icon{
    margin-top: -28%;
    z-index: 2;
    padding-left: 18%;
}

.home-spot{
    height: 7vw;
}

.contact-detial-try{
    border: 1px solid black;
    width: 25%;
    height: 30%;
    background: white;
}

.contact-detail-container > h1{
    text-align: center;
}







.contact-info{
    font-size: 17px;
    font-weight: 500;
    color: rgb(120, 189, 216);
}

.fa-phone-alt{
    width: 10%;
}

.contact-detail-map{
    width: 70%;
}

/* .contact-detial-block>span{
    background:url('../images/contactNumber.jpg');
    background-size: 100%;
    background-position-y: center;
    height: 60px;
    width: 85%;
    color: white;
    margin-left: 40px;
    font-size: 25px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    z-index: 1;
} */



.contact-detail-address-info{
    width: 30%;
    padding: 10% 0;
}

/* .contact-detail-item>p{
    font-size: medium;
    font-weight: 400;
} */

.contact-detial-address{
    width: 70%;
    display: flex;
    border: 1px solid;
    margin: 3% auto;
    border: 1px solid #b3bbbbcb;
    height: 600px;
    text-align: center;
}
