.about-info-container{
    margin: 60px 0;
    display: block;
    overflow: auto;
    width: 45rem;
    color: white;
    font-family: "Knockout-HTF90-UltmtWelterwt", Conduit,Sans-serif;
    border:2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-info-container h1{
    width:90%;
    position: relative;
    margin: 45px auto 0;
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
   
}

.about-info-container p{
    font-size: 1.5rem;
    width: 90%;
    font-weight: normal;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    margin: 40px auto 20px;
}

.about-btns{
    width: 90%;
    margin: 5px auto 55px;
}
