.component-block-container{
    background: url('../images/fiber.jpg') center center/cover no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0;

}

.InfoCard-container{
    margin-left: 180px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    overflow: auto;
}